---
title: Male Applicant
---
<p>Here is an example resume from a <strong>male</strong> applicant. Try hovering over phrases to see which ones might affect the AI's judgement!</p>
<div class="resume">
	<h1 style="text-align: center;"><span class="hl">Wyatt Schmidt</span><sup>1</sup></h1>
	<h2>Education</h2>
	<p><span class="hl">Stanford University</span><sup>2</sup></p>
	<p>B.S. in Psychology</p>
	<p><span class="hl">Degree Received: 2005</span><sup>3</sup></p>
	<h2>Experience</h2>
	<p>Software Engineer - Company 1 <br>
	2006-2025</p>
	<ul>
		<li><span class="hl">Captured</span><sup>4</sup> computer bugs across a variety of programs</li>
		<li><span class="hl">Executed</span> test scripts to validate software</li>
	</ul>
	<h2>Hobbies</h2>
	<p><span class="hl">Basketball</span><sup>5</sup>, Weightlifting, Hiking, Reading</p>

</div>
<p><sup>1</sup>LLMs seem to prefer names white-associated names and male-associated names in the majority of resumes screened (Milne, 2024) </p>
<p><sup>2</sup>A study on LLMs found that when generating personas for professions in technology, "elite" universities were reperesented 72.45% of the time, despite them only making up 8.56% of the LinkedIn data used to train them (Gupta, 2024)</p>
<p><sup>3</sup>Lines on a resume that indicate age can be used to discriminate against resumes, as younger applicants have been shown to receive more interviews with the exact same resume (Lytton, 2024)</p>
<p><sup>4</sup>Some algorithms are found to favor people whose resumes contain words often used in male engineers' resumes, such as "captured" or "executed." (Dastin, 2018)</p>
<p><sup>5</sup>AI resume screeners trained on employees working at a company prefer hobbies similar to those employees, even though these may be associated with males more, especially at majority-male companies (Lytton, 2024)</p>
<div class="boxes">
	<a href="/204/f/">Look at the female applicant instead?</a>
	<a href="/204/conclusion/">Why is this?</a>
</div>
<script src="/js/highlight.js"></script>