<!DOCTYPE html>

<head>
	<title>INST 204 project | {{ title }}</title>
	<link rel="stylesheet" href="/styles/204.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<header>
		<nav>
			<a href="/204/">Home</a>
			<a href="/204/sources/">Sources</a>
			<a href="/204/group/">Members</a>
			<a href="https://github.com/Tofutush/inst/">Github</a>
		</nav>
		<h1>AI Biases in Hiring</h1>
		<h2>{{ title }}</h2>
	</header>

	<main>{{ content }}</main>
</body>