<!DOCTYPE html>

<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/styles/204.css" />
</head>

<body>
	<header>
		<nav></nav>
	</header>

	<main>{{ content }}</main>
	<footer>
	</footer>
</body>