<!DOCTYPE html>

<head>
	<title>INST 466 project | {{ title }}</title>
	<link rel="stylesheet" href="/styles/466.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<header>
		<nav>
			<a href="/466/">Home</a>
			<a href="/466/risks/">Risks</a>
			<a href="/466/solutions/">Solutions</a>
			<a href="/466/future/">Future</a>
			<a href="/466/sources/">Sources</a>
			<a href="/466/group/">Members</a><a href="https://github.com/Tofutush/inst/">Github</a>
		</nav>
		<h1>AI and Mental Health</h1>
		<h2>{{ title }}</h2>
	</header>

	<main>{{ content }}</main>
</body>