<h1>The Risks of Using AI for Mental Health Support</h1>
<p>Click for more detail!</p>
<details>
	<summary>
		<h2>Lack of Professional Expertise</h2>
	</summary>
	<p>haha</p>
</details>
<details>
	<summary>
		<h2>Development of Emotional Dependency</h2>
	</summary>
	<p>haha</p>
</details>
<details>
	<summary>
		<h2>Privacy and Data Concerns</h2>
	</summary>
	<p>haha</p>
</details>
<details>
	<summary>
		<h2>Ethical and Technical Concerns</h2>
	</summary>
	<p>haha</p>
</details>