---
title: Sources and references
---

<ol>
	<li id="1">“Mental Illness.” National Institute of Mental Health (NIMH), www.nimh.nih.gov/health/statistics/mental-illness.</li>
	<li id="2">London Intercultural Academy. “The Story of ELIZA: The AI That Fooled the World.” London Intercultural Academy, 28 Apr. 2026, liacademy.co.uk/the-story-of-eliza-the-ai-that-fooled-the-world.</li>
	<li id="3">Hatch, S. Gabe, et al. “When ELIZA Meets Therapists: A Turing Test for the Heart and Mind.” PLOS Mental Health., vol. 2, no. 2, Feb. 2025, p. e0000145. https://doi.org/10.1371/journal.pmen.0000145.</li>
	<li id="4">Cristea, Ioana Alina, Madalina Sucala, and Daniel David. "Can you tell the difference? Comparing face-to-face versus computer-based interventions. The" Eliza" effect in psychotherapy." Journal of Cognitive & Behavioral Psychotherapies 13.2 (2013).</li>
	<li id="5">The Evolution of Chatbots in Mental Health Therapy. www.alongside.care/learn/the-evolution-of-chatbots-in-mental-health-therapy.</li>
	<li id="6">Farhat, Faiza et al. “The scholarly footprint of ChatGPT: a bibliometric analysis of the early outbreak phase.” Frontiers in artificial intelligence vol. 6 1270749. 5 Jan. 2024, doi:10.3389/frai.2023.1270749</li>
	<li id="7">Zhang, Zhihui, and Jing Wang. “Can AI replace psychotherapists? Exploring the future of mental health care.” Frontiers in psychiatry vol. 15 1444382. 31 Oct. 2024, doi:10.3389/fpsyt.2024.1444382</li>
	<li id="8">Minds in Crisis: How the AI Revolution Is Impacting Mental Health. 5 Sept. 2025, www.mentalhealthjournal.org/articles/minds-in-crisis-how-the-ai-revolution-is-impacting-mental-health.html.</li>
	<li id="9">Consumer Federation of America. “New Report Highlights Mental Health, Privacy Risks of AI Therapy Chatbots · Consumer Federation of America.” Consumer Federation of America, 22 Jan. 2026, consumerfed.org/press_release/new-report-highlights-mental-health-privacy-risks-of-ai-therapy-chatbots.</li>
	<li id="10">Rezaeikhonakdar, Delaram. “AI Chatbots and Challenges of HIPAA Compliance for AI Developers and Vendors.” The Journal of law, medicine & ethics : a journal of the American Society of Law, Medicine & Ethics vol. 51,4 (2023): 988-995. doi:10.1017/jme.2024.15</li>
	<li id="11">“My Robot Therapist: The Ethics of AI Mental Health Chatbots for Kids.” University of Rochester Medicine, 31 Mar. 2025, www.urmc.rochester.edu/news/story/my-robot-therapist-the-ethics-of-ai-mental-health-chatbots-for-kids.</li>
	<li id="12">Graham, Rosella. “Lawmakers Introduce Bill to Stop AI Chatbots from Impersonating Doctors, Lawyers & Licensed Professionals - Congressman Kevin Mullin.” Congressman Kevin Mullin, 19 Mar. 2026, kevinmullin.house.gov/2026/03/19/lawmakers-introduce-bill-to-stop-ai-chatbots-from-impersonating-doctors-lawyers-licensed-professionals/</li>
	<li id="">Khawaja, Zoha, and Jean-Christophe Bélisle-Pipon. “Your Robot Therapist Is Not Your Therapist: Understanding the Role of AI-powered Mental Health Chatbots.” Frontiers in Digital Health, vol. 5, Nov. 2023, p. 1278186. https://doi.org/10.3389/fdgth.2023.1278186.</li>
	<li id="">Exploring the Dangers of AI in Mental Health Care | Stanford HAI. https://hai.stanford.edu/news/exploring-the-dangers-of-ai-in-mental-health-care.</li>
</ol>