---
title: Sources and references
---

<ol>
	<li id="1">“Mental Illness.” National Institute of Mental Health (NIMH), www.nimh.nih.gov/health/statistics/mental-illness.</li>
	<li id="2">London Intercultural Academy. “The Story of ELIZA: The AI That Fooled the World.” London Intercultural Academy, 28 Apr. 2026, liacademy.co.uk/the-story-of-eliza-the-ai-that-fooled-the-world.</li>
	<li id="3">Hatch, S. Gabe, et al. “When ELIZA Meets Therapists: A Turing Test for the Heart and Mind.” PLOS Mental Health., vol. 2, no. 2, Feb. 2025, p. e0000145. https://doi.org/10.1371/journal.pmen.0000145.</li>
	<li id="4">Cristea, Ioana Alina, Madalina Sucala, and Daniel David. "Can you tell the difference? Comparing face-to-face versus computer-based interventions. The" Eliza" effect in psychotherapy." Journal of Cognitive & Behavioral Psychotherapies 13.2 (2013).</li>
	<li id="5">The Evolution of Chatbots in Mental Health Therapy. www.alongside.care/learn/the-evolution-of-chatbots-in-mental-health-therapy.</li>
	<li id="6">Farhat, Faiza et al. “The scholarly footprint of ChatGPT: a bibliometric analysis of the early outbreak phase.” Frontiers in artificial intelligence vol. 6 1270749. 5 Jan. 2024, doi:10.3389/frai.2023.1270749</li>
	<li id="">Khawaja, Zoha, and Jean-Christophe Bélisle-Pipon. “Your Robot Therapist Is Not Your Therapist: Understanding the Role of AI-powered Mental Health Chatbots.” Frontiers in Digital Health, vol. 5, Nov. 2023, p. 1278186. https://doi.org/10.3389/fdgth.2023.1278186.</li>
	<li id="">Exploring the Dangers of AI in Mental Health Care | Stanford HAI. https://hai.stanford.edu/news/exploring-the-dangers-of-ai-in-mental-health-care.</li>
</ol>